    #titulo {
        text-align: center;
        margin-top: 400px;
    }
    
    table {
        border-collapse: collapse;
    }
    
    #nome,
    #assinatura {
        padding: 3px;
        width: 400px;
        text-align: center;
    }
    
    #contador {
        width: 20px !important;
        padding: 3px;
        text-align: center;
    }