#painelListaUrls {
  height: 100%;
  width: 100%;
  background: #fff;
  flex-direction: column;
  padding: 1em;
  border-radius: 5px;
}

#painel{
  padding: 1em;
}

#tituloListaUrls {
  text-align: center;
  margin-bottom: 1.5rem !important;
}

#btnVoltar {
  position: fixed;
  width: 100px;
}

@media only screen and (max-width: 600px) {
  #btnVoltar {
    bottom: 1em;
    left: calc(50% - 50px);
  }
}
