#painelHome {
  height: 100%;
  width: 80%;
  margin-top: auto;
  margin-bottom: auto;
  background: #fff;
  flex-direction: column;
  padding: 3%;
  border-radius: 5px;
}

#tituloHome {
  text-align: center;
}

#btnListar {
  margin-top: 0.5em;
}

#linkListar:hover {
  text-decoration: none !important;
}

#urlEncurtada{
  text-align: center;
}