#painelHome {
  height: 100%;
  width: 100%;
  background: #fff;
  flex-direction: column;
  padding: 1em;
  border-radius: 5px;
}

#painel{
  padding: 1em;
}

#tituloHome {
  text-align: center;
}

#btnListar {
  margin-top: 0.5em;
}

#linkListar:hover {
  text-decoration: none !important;
}

#urlEncurtada {
  text-align: center;
}

#btnLogout {
  position: fixed;
  width: 100px;
}

@media only screen and (max-width: 600px) {
  #btnLogout {
    bottom: 1em;
    left: calc(50% - 50px);
  }
}
