#painelHome {
  height: 100%;
  width: 100%;
  background: #fff;
  flex-direction: column;
  padding: 1em;
  border-radius: 5px;
}

#painel {
  padding: 1em;
}

#tituloHome {
  text-align: center;
}

#btnListar {
  margin-top: 0.1em;
  width: 200px;
}

#btnEncurtar {
  width: 200px;
}

#linkListar:hover {
  text-decoration: none !important;
}

#urlEncurtada {
  text-align: center;
}

#btnLogout {
  position: absolute;
  width: 100px;
  right: 2em;
}

@media only screen and (max-width: 700px) {
  #btnLogout {
    bottom: 1em;
    left: calc(50% - 50px);
    position: fixed;
  }
}
